<div class="flex min-h-screen flex-col bg-light">
  <h1
    class="mx-auto mb-4 mt-2 text-center text-3xl font-bold text-slate-600 sm:ml-56"
  >
    E-Parking 充電車位
  </h1>
  <div class="ml-6 mr-6 sm:ml-[220px]">
    <div class="mb-2 mt-4 flex justify-center">
      <input
        type="text"
        placeholder="搜尋地址關鍵字"
        class="h-10 rounded-md border-gray-400 placeholder:italic"
      />
      <button
        type="button"
        class="ml-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700"
      >
        搜尋
      </button>
    </div>
    <p>資料擷取時間:2023-09-28 16:04:21</p>
    <p>資訊來源:台北市政府停車資訊</p>
    <div
      class="h-[500px] w-full rounded-lg border-2 border-solid border-gray-200 p-4 dark:border-gray-700"
    >
      <google-map [options]="options" height="100%" width="100%" #map>
        <map-marker
          [position]="selfMarkerPositions"
          [options]="selfMarkerOptions"
        ></map-marker>
        <map-marker-clusterer [imagePath]="markerClustererImagePath">
          <map-marker
            *ngFor="let item of allStation"
            [position]="item.location"
            [options]="markerOptions"
            #marker="mapMarker"
            (mapClick)="openInfoWindow(marker, item)"
          ></map-marker>
        </map-marker-clusterer>

        <map-info-window>
          <h2 class="mb-2 text-2xl font-bold">{{ currentInfoWindow.name }}</h2>
          <ul>
            <li>【總車位數量】:{{ currentInfoWindow.totalcar }}</li>
            <li>【充電車位數量】:{{ currentInfoWindow.ChargingStation }}</li>
            <li>
              <span>【收費資訊】:</span>
              <p>{{ currentInfoWindow.payex }}</p>
            </li>
          </ul>
        </map-info-window>
      </google-map>
    </div>
  </div>
  <nav
    class="relative mt-auto flex bg-gray-500 sm:absolute sm:h-screen sm:w-52 sm:flex-col"
  >
    <app-nav-item
      class="w-full sm:mb-2"
      [itemName]="'地圖'"
      [iconClass]="'fa-solid fa-lg fa-user fa-location-dot'"
    ></app-nav-item>
    <app-nav-item
      class="w-full sm:mb-2"
      [itemName]="'設定'"
      [iconClass]="'fa-solid fa-lg fa-user fa-gear'"
    ></app-nav-item>
    <app-nav-item
      class="w-full sm:mb-2"
      [itemName]="'收藏'"
      [iconClass]="'fa-regular fa-lg fa-bookmark'"
    ></app-nav-item>
    <app-nav-item
      class="w-full"
      [itemName]="'關於我'"
      [iconClass]="'fa-regular fa-lg fa-user fa-user'"
    ></app-nav-item>
    <p class="hidden text-sm text-white sm:mb-4 sm:mt-auto sm:block sm:p-4">
      © 2024. All rights reserved.
    </p>
  </nav>
</div>
