<div class="flex min-h-screen flex-col bg-light">
  <h1
    class="mx-auto mb-4 mt-2 text-center text-3xl font-bold text-slate-600 sm:ml-56"
  >
    Parking 台北市停車場資訊
  </h1>
  <div class="ml-6 mr-6 flex flex-grow flex-col sm:ml-[220px]">
    <router-outlet></router-outlet>
  </div>

  <nav
    class="relative mt-auto flex bg-gray-500 sm:absolute sm:h-screen sm:w-52 sm:flex-col"
  >
    <app-nav-item
      class="w-full"
      *ngFor="let item of navItemList"
      [itemName]="item.name"
      [iconClass]="item.icon"
      (click)="clickNav(item.id)"
      [ngClass]="{ 'bg-slate-300 text-gray-600': currentItem == item.id }"
    ></app-nav-item>
    <p class="hidden text-sm text-white sm:mb-4 sm:mt-auto sm:block sm:p-4">
      © 2024. All rights reserved.
    </p>
  </nav>
</div>
