<div class=" text-xl font-bold p-5">
  <h2 class="text-3xl font-bold mb-2">關於我</h2>
  <p class="mb-2">我叫 Evan，是一名前端工程師，擅長Angular & React框架，喜歡研究前端技術，以程式碼解決日常生活中的問題。</p>
  <h3>關於我的其他資訊，歡迎點擊下方連結:</h3>
  <ul class="list-disc mt-3 flex flex-col gap-2">
    <li>
      github:
      <a href="https://github.com/Ai-Chen-Hsieh" class="hover:cursor-pointer hover:underline text-blue-600"
        >https://github.com/Ai-Chen-Hsieh</a
      >
    </li>
    <li>medium: 
      <a href="https://medium.com/@chen090" class="hover:cursor-pointer hover:underline text-blue-600">https://medium.com/@chen090</a>
    </li>
  </ul>
  <article></article>
</div>
